.custom-hero-gif {
  width: 125%; /* Default size for larger screens */
  position: relative;
  left: -70px; /* Default positioning for larger screens */
  bottom: -20px; /* Default positioning for larger screens */
  max-width: none; /* Ensure no max-width constraints */
}

/* .customColor {
  background: -webkit-linear-gradient(
    271.27deg,
    #887ee1 -9.95%,
    #cd8be6 110.34%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.customColor {
  background: -webkit-linear-gradient(
    271.27deg,
    #887ee1 -9.95%,
    #cd8be6 110.34%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.customColor::selection {
  background: -webkit-linear-gradient(
    271.27deg,
    #887ee1 -9.95%,
    #cd8be6 110.34%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: inherit; /* Make sure the text retains its original color (transparent gradient) */
  background-color: transparent; /* Ensure the background does not override the text */
}

.customColor::-moz-selection {
  background: -webkit-linear-gradient(
    271.27deg,
    #887ee1 -9.95%,
    #cd8be6 110.34%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: inherit;
  background-color: transparent;
}

/* Header Logo */
.SassLogo {
  width: 11%;
}

/* Hero Section of components/home-page/home-7/Hero */

.glassy {
  box-shadow: 5px 6px 10px rgba(136, 126, 225, 1),
    /* First gradient color (approximated) */ 5px 6px 0 rgba(205, 139, 230, 1); /* Second gradient color (approximated) */
}

.gradientBtn {
  background: linear-gradient(271.27deg, #887ee1 -9.95%, #cd8be6 110.34%);
}

/* For tablets (portrait and landscape, width less than 1024px) */
@media (max-width: 1024px) {
  .custom-hero-gif {
    width: 100%; /* Adjust size for medium screens */
    left: -50px; /* Adjust the left position */
    bottom: -15px; /* Adjust the bottom position */
  }
}

/* For mobile devices (width less than 768px) */
@media (max-width: 768px) {
  .custom-hero-gif {
    width: 90%; /* Smaller size for mobile */
    left: -30px; /* Adjust the left position for mobile */
    bottom: -10px; /* Adjust the bottom position for mobile */
  }
}

/* For small mobile devices (width less than 480px) */
@media (max-width: 480px) {
  .custom-hero-gif {
    width: 80%; /* Smaller size for small mobile devices */
    left: -20px; /* Adjust the left position for small mobile */
    bottom: -5px; /* Adjust the bottom position for small mobile */
  }
}
